*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #33475b;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main{
  /* DEBUG:  */

  height: 3000px;
  position: relative;
  top: 84px;

}

.width{
  width: 60%;
  margin: auto;
  height: 100%;
/*
/* DEBUG:  */
/* border: solid; */
}

.margin{
 margin-top: 100px;

}

.padding{
  padding: 25px;
}

.shadow-hover:hover{
  transform: scale(1.014);
  box-shadow: 0px 0px 100px 16px rgba(1, 1, 1, 0.12);

}

.img-all{
 width: 200px;
 height: auto;

}

button{
height: 50px;
width: 150px;
background-color: #ff7a59;
color: white;
border-radius: 5px;
border: none;
font-size: 15px;
font-weight: bold;
text-align: center;

}

.main li::before{
  content:"";
  background: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg);
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;

}


a{
  text-decoration: none;
  display:  inline-block;
  color: #33475b;
  font-size: 15px;
  font-weight: bold;

}

.text-cent{
  text-align: center;
}

.clear::after{
  content:"";
  display: table;
  clear: both;
}

h1{
  line-height: 1.4;
  font-size: 45px;
  margin-bottom: 13px;

}

h2{
  line-height: 1.4;
  font-size: 35px;
  margin-bottom: 18px;
}

h3{

}

h4{
line-height: 1.4;
font-size: 24px;
margin-bottom: 18px;
}

h5{
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 18px;

}

.little-p{
  font-size: 14px;
  line-height: 1.65;
  margin-bottom: 18px;
}

.medium-p{
  font-size: 18px;
  line-height: 1.65;
  font-weight: lighter;
  margin-bottom: 20px;

}

.large-p{

}



/* ----------------------------------------------------------------------------------------------------------- */



.styck{
background-color: #f5f8fa;
height: 85px;
border-bottom: 1px solid #cbd6e2;
position: fixed;
width: 100%;
left: 0;
right: 0;
padding: 0 20%;
z-index: 100;

}

.styck-box{
  float: left;
  padding: 10px 10px 0 0;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  padding-bottom: 7px;
}

.styck-h{
  height: 100%;
}

.styck-dx{
  float: right;



}

.styck-sx{
  float: left;




}

.styck-box span{
  margin: 10px;
}

.box-sx{
  border-right: solid 1px #7c98b6;
}

.styck-cerca{
  font-size: 18px;
  color: #64c9e8;
}

.styck-cerca button{
  margin-left: 15px;
}

#white-button{
  border: solid 1px #ff7a59;
  background-color: white;
  color: #ff7a59;

}

.buttons{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* fine stycky head */

header{
  height: 85px;
  box-shadow: 0px -2px 10px #5d080836;
  position: relative;
  top: 84px;
  width: 100%;
  padding: 0 20%;
  z-index: 70;
}

.logo-img{
  float: left;
  height: 100%;

}

.logo-img img{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  max-height: 35%;
  height: 100%;
}

.nav{
  float: right;
  height: 100%;
}

.nav ul{
  position: relative;
  top:50%;
  transform: translateY(-50%);

}

.nav ul li{
  display: inline-block;
  margin: 0 15px;

}
.nav a{
  font-size: 16px;
  letter-spacing: 1px;
}

/* fine header */

.cont-jumbo{
  background-image: url(../img/jumbotron.png);
  height: 660px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

}

.jumbo-text{

  width: 430px;
  padding-top: 80px;


}
.jumbo-but{
  padding-right: 180px;

}

.jumbo-but button{
  width: 215px;
  height: 75px;
  margin-bottom: 15px;
}

/* fine jumbo */


.cont-cubo p{
  width: 800px;
  margin: auto;
}


/* inizio libro */

.book-left img{
  display: block;
  position:relative;
  left: 50%;
  transform: translate(-50%, -0%);
}

.book-left button{
position:relative;
left: 50%;
transform: translate(-50%, -0%);
margin-top: 20px;

}

.book-left{
  width: 250px;
  float: left;
}

.book-right{
  margin-left: 50px;
  float: left;
  width: 600px;
  padding-top: 10px;
}

.book-right li{
  float: left;
  display: inline-block;
  margin-right: 10px;

}

/* fine libro */


.services{
  width: 30%;
  float: left;
}

.services li{
  display: block;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}
.services ul{
  margin-bottom: 30px;

}

#margin-serv{
  margin: 0% 4.5% 0 4.5%;
}

#img-correction{width: 159px;}
