*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #33475b;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

main{
  /* DEBUG:  */


  position: relative;
  top: 84px;

}

.width{
  width: 1100px;
  margin: auto;
  height: 100%;
/*
/* DEBUG:  */
/* border: solid; */
}

.margin{
 margin-top: 100px;

}

.padding{
  padding: 25px;
}

.shadow-hover:hover{
  transform: scale(1.014);
  box-shadow: 0px 0px 100px 16px rgba(1, 1, 1, 0.12);

}

.img-all{
 width: 200px;
 height: auto;

}

button{
height: 50px;
width: 150px;
background-color: #ff7a59;
color: white;
border-radius: 5px;
border: none;
font-size: 15px;
font-weight: bold;
text-align: center;

}

main li::before{
  content:"";
  background: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg);
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;

}


a{
  text-decoration: none;
  display:  inline-block;
  color: #33475b;
  font-size: 15px;
  font-weight: bold;

}

.text-cent{
  text-align: center;
}

.clear::after{
  content:"";
  display: table;
  clear: both;
}

h1{
  line-height: 1.4;
  font-size: 45px;
  margin-bottom: 13px;

}

h2{
  line-height: 1.4;
  font-size: 35px;
  margin-bottom: 18px;
}

h3{

}

h4{
line-height: 1.4;
font-size: 24px;
margin-bottom: 18px;
}

h5{
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 18px;

}

.little-p{
  font-size: 14px;
  line-height: 1.65;
  margin-bottom: 18px;
}

.medium-p{
  font-size: 18px;
  line-height: 1.65;
  font-weight: lighter;
  margin-bottom: 20px;

}

.large-p{
  font-size: 23px;
  line-height: 1.65;
  font-weight: lighter;
  margin-bottom: 20px;


}



/* ----------------------------------------------------------------------------------------------------------- */



.styck{
background-color: #f5f8fa;
height: 85px;
border-bottom: 1px solid #cbd6e2;
width: 1100px;
margin: auto;

}

.backg-styck{

  background-color: #f5f8fa;
  z-index: 100;
  position: fixed;
  border-bottom: 1px solid #cbd6e2;
  height: 85px;
  left: 0;
  right: 0;
}

.styck-box{
  float: left;
  padding: 10px 10px 0 0;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  padding-bottom: 7px;
}

.styck-h{
  height: 100%;
}

.styck-dx{
  float: right;



}

.styck-sx{
  float: left;




}

.styck-box span{
  margin: 10px;
}

.box-sx{
  border-right: solid 1px #7c98b6;
}

.styck-cerca{
  font-size: 18px;
  color: #64c9e8;
}

.styck-cerca button{
  margin-left: 15px;
}

#white-button{
  border: solid 1px #ff7a59;
  background-color: white;
  color: #ff7a59;

}

.buttons{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* fine stycky head */

header{
  width: 1100px;
  margin: auto;
  height: 100%

}

.backg-header{
  height: 85px;
  box-shadow: 0px -2px 10px #5d080836;
  position: relative;
  top: 84px;
  width: 100%;
  z-index: 70;
}
.logo-img{
  float: left;
  height: 100%;

}

.logo-img img{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  max-height: 35%;
  height: 100%;
}

.nav{
  float: right;
  height: 100%;
}

.nav ul{
  position: relative;
  top:50%;
  transform: translateY(-50%);

}

.nav ul li{
  display: inline-block;
  margin: 0 15px;

}
.nav a{
  font-size: 16px;
  letter-spacing: 1px;
}

/* fine header */

.cont-jumbo{
  background-image: url(../img/jumbotron.png);
  height: 660px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

}

.jumbo-text{

  width: 430px;
  padding-top: 80px;


}
.jumbo-but{
  padding-right: 180px;

}

.jumbo-but button{
  width: 215px;
  height: 75px;
  margin-bottom: 15px;
}

/* fine jumbo */


.cont-cubo p{
  width: 800px;
  margin: auto;
}


/* inizio libro */

.book-left img{
  display: block;
  position:relative;
  left: 50%;
  transform: translate(-50%, -0%);
}

.book-left button{
position:relative;
left: 50%;
transform: translate(-50%, -0%);
margin-top: 20px;

}

.book-left{
  width: 250px;
  float: left;
}

.book-right{
  margin-left: 50px;
  float: left;
  width: 600px;
  padding-top: 10px;
}

.book-right li{
  float: left;
  display: inline-block;
  margin-right: 10px;

}

/* fine libro */


.services{
  width: 30%;
  float: left;
}

.services li{
  display: block;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}
.services ul{
  margin-bottom: 30px;

}

#margin-serv{
  margin: 0% 4.5% 0 4.5%;
}

#img-correction{width: 159px;}


/* awards */

.cont-awards{
background-image: linear-gradient(45deg, #00a4bd, #00bda5);
color: white;
padding: 100px 0;
margin: 80px 0;
}

.text-width{
  width: 800px;
  margin: auto;

}

.cont-box-awards1 .box-awards{
  float: left;
  width: 25%;
  border-right: solid 2px white;
  padding: 25px;
  border-bottom: 2px solid white;

}

.cont-box-awards2 .box-awards{
  float: left;
  width: 25%;
  border-right: solid 2px white;
  padding: 25px;
}

.cont-box-awards1 .box-awards:last-child{
  border-right: none;

}

.cont-box-awards2 .box-awards:last-child{
  border-right: none;

}

.img-awards{
  margin-bottom: 8px;
}

/* fine costumers */

.costumers-cont p{
  width: 328px;

}

.costumers-sx{
  float: left;


}

.costumers-dx{
  float: right;


}

.image-sponsor{
  padding: 35px;
  float: left;
}

.image-sponsor img{
  height: 100%;
  width: 110px;
}

/* fine Costumers */

.text-size {
  width: 500px;
  float: left;
}

.text-size button{
  margin-bottom: 20px;
}

.img-growing{
  padding-right: 50px;
  float: right;
}

.img-growing img{
  height: 500px;
  width: 100%;

}

/* fine growing */

footer{
  background-color: #33475b;
  color: white;
  padding-top: 100px;
  margin-top: 200px;
}

footer li{
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
footer a{
  color: #cbd6e2;
  font-size: 17px;
  font-weight: 400;
}

footer .link-utili ul{
  float: left;
  width: 25%;
}


#bluebutton{
  background-color: #fff;
  color: #33475b;
  width: 210px;
  position: relative;
  left: calc(100% - 290px);
}

.link-utili{
  margin-bottom: 50px;

}

.lingue li{
  float: left;
  margin: 30px;
}

.lingue ul{
  width: 800px;
  margin: auto;
}

.style-a{
  font-size: 18px;
  font-weight: 600;
}

.lingue{
  border-bottom: 1px #cbd6e2 solid;
}

.link-finali{
  padding: 30px 0;
}

.link-left{
  float: left;
}

.link-right{
  float: right;
}

.link-right a{
  margin-left: 45px;

}

.link-finali img{
  margin-bottom: 10px;
}

/* fine footer */

.index-button{
background-color: rgb(66, 91, 118);
width: 70px;
height: 70px;
border-radius: 100%;
z-index: 100;
right: 0;
bottom: 0;
position: fixed;
margin: 15px;
color: white;
font-size: 30px;
}

button:hover{
  cursor: pointer;
  opacity: 0.6;
}

.index-button:hover{
  opacity: 1;
  box-shadow: 0px 0px 28px 8px rgba(66, 91, 118, 0.44);

}

footer a:hover{
  color: #7fd1de;
}
